{:paths ["src"]
 :deps {io.github.kotoba-lang/kotobase-storage
        {:local/root "../kotobase-storage"}
        org.xerial/sqlite-jdbc {:mvn/version "3.53.2.0"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps
   {io.github.kotoba-lang/kotobase-engine
    {:local/root "../kotobase-engine"}
    io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]}}}

